body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: aliceblue;
  }
  
  #web-editor {
	background-color: burlywood;
	width: 100%;
	
  }
  
  h2 {
	margin-bottom: 20px;
  }
  
  .input-area {
	margin-bottom: 0px;
	margin: 5px;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
  }
  
  .code-input {
	width: 100%;
	height: 200px;
	padding: 0px;
	border: 0px solid #ccc;
	font-family: monospace;
  }
  
  #output-container {
	
	margin-top: 0px;
	border: 0px solid #ccc;
	padding: 0px;
  }
  
  #output-iframe {
	width: 100%;
	background-color: cadetblue;
	border: 0;
  }
  